[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-limiter = "*"
redis = "*"
bleach = "*"
cerberus = "*"
bandit = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
bandit = "*"
mypy = "*"
twine = "*"
fakeredis = "*"

[pipenv]
allow_prereleases = true
